src/main/mule/munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6c5d8e9-b009-4f74-a197-00771ae23061" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munitFlow" doc:id="82fef61b-257f-42e2-be62-8fb00a0f8f0d" >
		<http:listener doc:name="Listener" doc:id="bff74f6f-551e-490f-a2f1-462ef5433767" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6c12b376-383a-4937-b0a6-dff56c405e1b" />
		<logger level="INFO" doc:name="Logger" doc:id="0a4e304d-91b0-40c3-95c3-2342a904a23e" message="transformer"/>
	</flow>
</mule>
